<table class="table table-bordered table-striped">
<thead>

<tr>
<th><h3> Available Notes / Assignment</h3></th>
</tr>
</thead>
<tbody>
<tr>
<% @assignments.each do |assignment| %>
<td><%= link_to assignment.course_code,assignment %></td>
</tr>
<% end %>
</tbody>
</table>
</br>
<div class="links">
  <% if current_user == user_signed_in? %>
<%= link_to "New Assignment/Note",new_assignment_path,class:"btn btn-default" %>
<% end%>
</div>

<br>
