<br>
<div class='links'>
<p><%= link_to "Visit University of Eldoret wesite for more info",uoe_path%></p>
<p>Already a student :</p>
<%=link_to "Assignments/Notes",assignments_path,class:'btn btn-default'%>
</div>
